.header{
  &-title{
    font-size: 32px;
    text-align: center;
  }

  &-text{
    font-size: 32px;
    margin-bottom: 10px;
  }

  .process {
    &-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      .data-enter-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .input {
          &-wrapper {
            margin-right: 10px;

            input[type=file] {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              outline: 0;
              opacity: 0;
              pointer-events: none;
              user-select: none;
            }

            input[type=text]{
              display: inline-block;
              padding: 6px 12px;
              color: black;
              font-size: 20px;
              border: 1px solid black;
              border-radius: 4px;
              background: none;
            }

            .label{
              position: relative;
              width: 160px;
              display: flex;
              align-items: center;
              justify-content: space-around;
              border: 2px dashed grey;
              border-radius: 4px;
              padding: 5px 10px;
              transition: border .3s ease;
              cursor: pointer;
              text-align: center;

              .title, i{
                display: block;
                color: grey;
                transition: .3s color;
              }

              i {
                display: block;
                font-size: 26px;
              }

              .title{
                font-size: 17px;
                width: 81%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              &:hover{
                border:2px solid #000;

                .title, i{
                  color:#000
                }
              }
            }
          }
        }
      }
    }

    &-block{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 20px;
    }
  }
}