.input-data {
  &-wrapper {
    width: 560px;
  }

  &-title{
    font-size: 26px;
    margin: 20px 0 8px 0;
    text-align: center;
  }

  &-table{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }

  &-cell-wrapper{
    max-height: 728px;
    width: calc(100% + 16px);
    overflow-y: scroll;
  }

  &-string{
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;

    &:first-child{
      border-top: none;
    }
  }

  &-block{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    padding: 4px 8px;

    &:last-child{
      border-right: none;
    }
  }
}