.table {
  &-wrapper {
    overflow-x: auto;
    max-height: 650px;
    overflow-y: auto;
    width: 100%;
    border-radius: 4px;
    position: relative;
  }
  &-title{
    font-size: 32px;
    margin-bottom: 10px;
  }
}