$color1: #000;
$color2: #fcfeff;
$color3: #333842;
$color4: #26ae60;
$color5: #333842;
$color6: #f1f4f7;
$color7: #e8eaef;
$color8: #e7f7ef;
$color9: #474c55;
$color10: #999ca1;
$color11: #5c6060;
$color12: #f5f5f6;
$color13: #5c6068;
$color14: #fcffff;
$color15: #cccdd0;
$color16: #ff5655;
$color17: #fcf1f1;
$color18: #f8f9eb;
$color19: #c6af0a;
$color20: #f7fafc;
$color21: #e5e5d6;
$color22: #e7dadb;
$color23: #289c5c;
$color24: #2c7351;
$color25: #acb1b6;

$redCoral: #ff4735;
$redPastel: #ff6e6e;
$yellow: #c6af0a;
$greyBlue: #182943;

// RGBA colors
$rgbaColor1: rgba(51, 56, 66, 0.15);
$rgbaColor2: rgba(51, 56, 66, 0.05);
$rgbaColor3: rgba(51, 56, 66, 0.8);
$rgbaColor4: rgba(51, 56, 66, 0.9);
$rgbaColor5: rgba(51, 56, 66, 0.25);
$rgbaColor6: rgba(#26ae60, 0.1);
$rgbaColor7: rgba(#fcfeff, 0.3);
$rgbaColor8: rgba(#26ae60, 0.4);
$rgbaColor9: rgba(#fcfeff, 0.8);
$rgbaColor10: rgba(51, 56, 66, 0.55);
$rgbaColor11: rgba(51, 56, 66, 0.5);
$rgbaColor12: rgba(51, 56, 66, 0.4);
$rgbaColor13: rgba(51, 56, 66, 0.13);
$rgbaColor14: rgba(51, 56, 66, 0.25);
$rgbaColor15: rgba(153, 153, 191, 0.05);
