*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@import "palette";
@import "vars";

@import "components/wrappers";
@import "components/header";
@import "components/sorceTable";
@import "components/table";
@import "components/tableItem";