@import "./palette.scss";

$navbar-height: 56px;
$footer-height: 32px;
$input-padding: 24px;
$input-error-color: #ff5655;
$header-bg-color: #292d33;
$input-placeholder-color: $rgbaColor11;
$border-radius: 2px;
$border-radius-second: 4px;
$filters-columns-padding-small: 24px;
$filters-columns-padding-medium: 32px;
$filters-columns-padding-large: 40px;
$normal-width-button: 160px;
$table-text-opacity-width: 25%;
$content-offset-bottom: 56px;
