.formWrapper{
  width: 40%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 4px;
  min-width: 600px;
}

.sourceWrapper{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto 30px auto;
}