.optionWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .titleModal{
    font-size: 20px;
    width: 50%;
  }

  .inputModal {
    width: 40%;
  }
}